
@{
    ViewBag.Title = "Modificar_Contacto";

    if (Proyecto.Models.Credenciales.u_tipo == "ADMIN")
    {
        Layout = "~/Views/Shared/Layout_Admin.cshtml";
    }
    else
    {
        if (Proyecto.Models.Credenciales.u_tipo == "GUEST")
        {
            Layout = "~/Views/Shared/Layout_Guest.cshtml";
        }
        else
        {
            if (Proyecto.Models.Credenciales.u_tipo == "")
            {
                Response.Redirect("Index");
            }
        }
    }


}

@model Proyecto.Models.Contacto


<!DOCTYPE html>

<title>Modificar Contacto</title>
<html>
<body style="background-color:#E7E9EB">
    <div id="cuerpo" onclick="Cerrar_Usuario_Notificaciones()">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            h1, h2, h3, h4, h5, h6 {
                font-family: "Oswald"
            }

            body {
                font-family: "Open Sans"
            }

            .column {
                float: left;
                width: 50%;
                padding: 10px;

            }
        </style>

        <div class="w3-content w3-white" style="max-width:1400px;min-height:875px">

            <!-- Header -->
            <header class="w3-container w3-center w3-padding-48 w3-white">
                <h1 class="w3-xxxlarge"><b>MODIFICAR CONTACTO</b></h1>
            </header>

            <div class="w3-container w3-center w3-white" style="font-size:20px">
                @using (Html.BeginForm())
                {
                    <div class="column">
                        <br />
                        <img src="~/Imagenes/contacto.png" style="width:60%">
                        <br />
                        @Html.ValidationSummary()
                        <p style="color:red">@ViewBag.ErrorMessage</p>
                        <p style="color:green">@ViewBag.SuccessMessage</p>
                    </div>

                    <div class="column">
                        @Html.TextBoxFor(x => x.id_persona, new { @class = "badge-light", @Readonly = true, @type = "hidden" })
                        @Html.TextBoxFor(x => x.id_contacto, new { @class = "badge-light", @Readonly = true, @type = "hidden" })
                        <br />
                        <b>Contacto</b><br />
                        @Html.TextBoxFor(x => x.nombre, new { @class = "badge-light", style = "width:40%;" })
                        <br /><br />
                        @Html.TextBoxFor(x => x.apellido1, new { @class = "badge-light", style = "width:40%;", placeholder="Primer apellido" })
                        <br /><br />
                        @Html.TextBoxFor(x => x.apellido2, new { @class = "badge-light", style = "width:40%;", placeholder="Segundo apellido" })
                        <br /><br />
                        <b>Correo electrónico</b><br />
                        @Html.TextBoxFor(x => x.correo, new { @class = "badge-light", style = "width:40%;" })
                        <br /><br />
                        <input class="w3-button w3-green" style="font-size:20px" type="submit" value="Guardar">
                    </div>
                }

            </div>
            <br /><br /><br />
            <br />
        </div>
    </div>
</body>
</html>
